In [10]:
import pandas as pd

In [11]:
df=pd.read_csv("spotify_millsongdata.csv")

In [12]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [13]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [14]:
df.shape

(57650, 4)

In [15]:
df=df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [16]:
#df=df.sample(5000)

In [17]:
df['text']=df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ',regex=True)

In [18]:
df.tail(5)

,artist,song,text
4995,Whitesnake,Mistreated,"i've been mistreated, i've been abused. \r i'..."
4996,Yeng Constantino,Himig Ng Pag-ibig,hoo hoo-hoo hoo-hoo \r hoh hoh-hoo hoo-hoo \...
4997,Tori Amos,Hey Jupiter,no one's picking up the phone \r guess it's m...
4998,Isley Brothers,Can I Have A Kiss (For Old Times' Sake)?,"start off with a hug, lead into embrace \r oh..."
4999,Yelawolf,Best Friend,[verse 1: yelawolf] \r ain't never been much ...

In [19]:
import nltk
from nltk.stem.porter import PorterStemmer

In [20]:
stemmer=PorterStemmer()

In [21]:
def token(txt):
    token=nltk.word_tokenize(txt)
    a=[stemmer.stem(w) for w in token]
    return " ".join(a)

In [22]:
token("you are beautiful")

'you are beauti'

In [23]:
df['text'].apply(lambda x:token(x))

0       with the music of life , my soul is out of tun...
1       me-he-he-helani what can the problem be sweet ...
2       i 've known about you for a while now when he ...
3       i could go back to everi laugh but i do n't wa...
4       it wa on the day the cowboy were abandon from ...
                              ...
4995    i 've been mistreat , i 've been abus . i 've ...
4996    hoo hoo-hoo hoo-hoo hoh hoh-hoo hoo-hoo sa pag...
4997    no one 's pick up the phone guess it 's me and...
4998    start off with a hug , lead into embrac oh gir...
4999    [ vers 1 : yelawolf ] ai n't never been much o...
Name: text, Length: 5000, dtype: object

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [25]:
tfid=TfidfVectorizer(analyzer='word',stop_words='english')

In [26]:
metrix=tfid.fit_transform(df['text'])

In [27]:
similiar=cosine_similarity(metrix)

In [28]:
similiar[0]

array([1.        , 0.00864129, 0.02932901, ..., 0.0306069 , 0.02882945,
       0.03471464])

In [30]:
df[df['song']=='Hey Jupiter'].index[0]

4997

In [40]:
def reccommeder(song_name):
    idx=df[df['song']==song_name].index[0]
    distance=sorted(list(enumerate(similiar[idx])),reverse=True,key=lambda x:x[1])
    song=[]
    for s_id in distance[1:5]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [43]:
reccommeder('Best Friend')

['Best I Ever Had',
 'Old Friend',
 'Looking For A Friend',
 "Doin' The Best I Can"]

In [45]:
import pickle

In [46]:
pickle.dump(similiar,open("similiar",'wb'))
pickle.dump(df,open("df",'wb'))